[submodule "61-git-remotes-merge-conflict/OOP-git-merge-conflict-test"]
	path = 61-git-remotes-merge-conflict/OOP-git-merge-conflict-test
	url = https://github.com/APICe-at-DISI/OOP-git-merge-conflict-test
